<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AutoServisEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=AutoServis;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoServis1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=AutoServis1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoServis1Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=AutoServis1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoServis1Entities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=AutoServis1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoServis1Entities3" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=AutoServis1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoServis1Entities4" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=AutoServis1;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities" connectionString="metadata=res://*/ModelMarketplace.csdl|res://*/ModelMarketplace.ssdl|res://*/ModelMarketplace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities1" connectionString="metadata=res://*/MarketPlace.csdl|res://*/MarketPlace.ssdl|res://*/MarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities2" connectionString="metadata=res://*/MarketPlace.csdl|res://*/MarketPlace.ssdl|res://*/MarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities3" connectionString="metadata=res://*/MarketPlace.csdl|res://*/MarketPlace.ssdl|res://*/MarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities4" connectionString="metadata=res://*/MarketPlace.csdl|res://*/MarketPlace.ssdl|res://*/MarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities5" connectionString="metadata=res://*/MarketPlace.csdl|res://*/MarketPlace.ssdl|res://*/MarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities6" connectionString="metadata=res://*/MarketPlace.csdl|res://*/MarketPlace.ssdl|res://*/MarketPlace.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities7" connectionString="metadata=res://*/Markepl.csdl|res://*/Markepl.ssdl|res://*/Markepl.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MarketplaceEntities8" connectionString="metadata=res://*/MP.csdl|res://*/MP.ssdl|res://*/MP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-3I4E1COE;initial catalog=Marketplace;integrated security=True;encrypt=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>